.slider {
    margin-left: 1em;
    margin-right: 1em;
    display: block;
    margin: 2em auto;
}
.slider input {
    margin: 0;
    border-radius: 4em;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 2em;
    background: #eeeeee;
    outline: none;
}
.slider input:hover {
    opacity: 1;
}
.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1.9em;
    height: 1.9em;
    background: #393939;
    cursor: pointer;
}
.slider input::-moz-range-thumb {
    appearance: none;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    background: #393939;
    cursor: pointer;
}
